.dropdown-menu {
    width: 200px;
    position: absolute;
    top: 80px;
    right: 340px;
    list-style: none;
    text-align: start;
    transition: 0.2s ease-out;
  
    /* taike */
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
    background: #fff;
    position: absolute;
  
    width: 230px;
    z-index: 99;
  
    border-radius: 0;
    transition: all 0.3s ease-in-out;
    border: none;
    border-top: 3px solid #00f;
    padding: 20px 25px;
  }
  
  .dropdown-menu li {
    cursor: pointer;
    text-decoration: none;
  }
  
  .dropdown-menu li:hover {
    color: #5b5b98;
  }
  .dropdown-menu.clicked {
    display: none;
  }
  
  .dropdown-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
    padding: 16px;
  }